@import url('https://fonts.googleapis.com/css?family=Fresca');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

  height: 500px;
  width: 350px;
}
.planr {
  overflow: hidden;
  background-color: #303030;

  height: 500px;
  width: 350px;
}
.planr .planList {
  list-style: none;
}

/* common styles */
.planr .nopadding {
  padding: 0 !important;
}
.planr .no-border-radius {
  border-radius: 0 !important;
}